.DS_Store
APIs/API_Logs/LOG_182588_25072021_04_11_53.csv
APIs/API_Logs/
/Users/juancarloskleylein/Desktop/vscodeRepo/TableauCRM/csv_in/
/Users/juancarloskleylein/Desktop/vscodeRepo/TableauCRM/csv_out/

